<div class="container">
  <form class="form" action='/username' method='get'>
    <input type='text' name='username' placeholder='Twitter Username' required/>
    <input type='submit'>
  </form>
  <div class='tweet_results'>
  </div>
</div>

<img id='wait-icon' src="dancing-panda.gif">
